<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('serve_static', filename='styles.css') }}">
</head>
<body>
<h1>Welcome to the Home page</h1>

<nav>
        <ul>

            <li><a href="{{ url_for('info') }}">Information</a></li>
            <li><a href="{{ url_for('submit_form') }}">Submit Form</a></li>
            <li><a href="{{ url_for('upload_file') }}">Upload File</a></li>

        </ul>
    </nav>

</body>
</html>